<form class="reset-stage" dir="rtl" (ngSubmit)="sendResetLink()" #f="ngForm">
  <div class="scale-box">
    <div class="card">
      <div class="title-row">
        <span class="hline"></span>
        <h1 class="title">איפוס סיסמא</h1>
        <span class="hline"></span>
      </div>

      <i class="decor-line" aria-hidden="true"></i>

      <div class="field-box">
        <label class="field-label">
          <span class="asterisk">*</span> דוא"ל / תעודת זהות
        </label>

        <input
          class="field-input"
          [(ngModel)]="emailOrUser"
          name="identifier"
          required
          autocomplete="email username"
           placeholder="הקלד/י דוא״ל / ת״ז"/>

        <div class="error" *ngIf="f.submitted && !emailOrUser">זהו שדה חובה</div>
      </div>

      <div class="actions">
        <button type="button" class="btn btn-stroked" (click)="close()">ביטול</button>
        <button type="submit" class="btn btn-stroked primary" [disabled]="!emailOrUser || isLoading">
          {{ isLoading ? 'שולח…' : 'קבל סיסמא חדשה' }}
        </button>
      </div>
    </div>
  </div>
</form>
