<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
    </staticContent>

 <rewrite>
  <rules>
    <!-- מעבירים נתיבי API ל-ASP.NET (ללא rewrite ל-index.html) -->
    <rule name="Pass API to ASP.NET" stopProcessing="true">
      <match url="^(api|auth|registration|admin|users|accountactions|messages|institutions|contact)(/.*)?$" ignoreCase="true" />
      <action type="None" />
    </rule>

    <rule name="Angular SPA Routes" stopProcessing="true">
      <match url=".*" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="/index.html" />
    </rule>
  </rules>
</rewrite>

  </system.webServer>
</configuration>
