<div *ngIf="depositType">
  <h2 class="main-title">
    {{ depositType.isDirectDebit ? 'הפקדה קבועה בהו"ק' : 'הפקדה חד פעמית' }}
  </h2>

  <p class="subtitle">
    {{ depositType.isDirectDebit ? 'הפקדה קבועה בהו"ק לקופת הגמ"ח עבור תוכניות' : 'הפקדה חד פעמית לקופת הגמ"ח עבור תוכניות' }}
    <span class="highlight">, {{ depositType.description }}</span>
  </p>

  <form #depositForm="ngForm" (ngSubmit)="onSubmit(depositForm)" dir="rtl">
  <div class="form-wrapper">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>סכום</mat-label>
      <input matInput type="number" [(ngModel)]="amount" name="amount" required />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>נא לפרט את מטרת ההפקדה, ואם הינכם מעוניינים בתיקים נפרדים</mat-label>
      <textarea matInput [(ngModel)]="largeString" name="largeString" rows="4" required></textarea>
    </mat-form-field>

    <p>אופן ההפקדה*</p>
    <mat-radio-group [(ngModel)]="depositMethod" name="depositMethod" required>
      <mat-radio-button value="contact">מעוניין/ת בהעברה ולכן צרו איתי קשר</mat-radio-button><br />
      <mat-radio-button value="automatic">הפקדה אוטומטית על ידי הגמ״ח</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="depositMethod === 'automatic'" style="margin-top: 1rem;">
      <p>הפקדה בתאריך*</p>
      <mat-radio-group [(ngModel)]="automaticDepositDateChoice" name="automaticDepositDateChoice" required>
        <mat-radio-button value="immediate">מיידי</mat-radio-button>
        <mat-radio-button value="other">תאריך אחר</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="automaticDepositDateChoice === 'other'" style="margin-top: 1rem;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>בחר תאריך</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="otherDate" name="otherDate" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <p>אופן התשלום*</p>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>בחר אופן תשלום</mat-label>
        <mat-select [(ngModel)]="paymentMethod" name="paymentMethod"
                    [required]="depositMethod === 'automatic'">
          <mat-option value="existing">הו״ק קיימת בקופת הגמ״ח</mat-option>
          <mat-option value="new">חתימה על הוראת קבע חדשה</mat-option>
          <mat-option value="credit_existing">גביה באשראי המופיע בקופת הגמ״ח</mat-option>
          <mat-option value="credit_other">גביה מאשראי אחר</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button
      class="submit-btn"
      type="submit"
      [disabled]="
        depositForm.invalid ||
        (depositMethod === 'automatic' && automaticDepositDateChoice === 'other' && !otherDate)
      ">
      שליחה
    </button>
  </div>
</form>
